@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 33px;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #2A57FD;
    border: 1px solid #2A57FD;
    color: #fff;
    padding: 10px 20px;
    border-radius: 33px;
  }
  
  input[type="submit"]:hover {
    background: #0027b6;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    border-radius: 33px;
  }

  .SaveButton {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #2A57FD;
    border: 1px solid #2A57FD;
    color: #fff;
    padding: 10px 20px;
    border-radius: 33px;
    border: 2px solid #4CAF50;
  }
  
  .login-form {
    background-color: white;
    height: 71.09%;
    width: 43,91%;
    left: 30.28%;
    top: 12.70%;
    border-radius: 22px;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    text-align: center;
    background-image: url("RettangoloStrano.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20%;
    width: 40%;
    background-position: cover;  
    font-size: 25px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

  .aaaaaaa {
    margin-top: 120px;
  }

  .editorMDE{
    top: 50%;
  }

  .editor-container {
    margin-top: 0px;
  }
  
  img {
    position: absolute;
    width: 15%;
    height: auto;
    left: 47%;
    top: 130px;
  }