button {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid;
  }
  
  .SaveButton {
    background-color: #4CAF50;
    color: rgb(11, 186, 14);
  }
  
  .SaveButton:hover {
    background-color: #076d0b;
  }
  
  .DeleteButton {
    background-color: #f44336;
    color: rgb(218, 17, 17);
  }
  
  .DeleteButton:hover {
    background-color: #a21a1a;
  }